*{
    box-sizing: border-box;
    padding: 0 !important;
    margin: 0 !important;
    overscroll-behavior: none !important;
}

:root{
    --bs-border-width:1.5px !important;
    --bs-border-color:#ccc !important;
    --white:#fff;
    --black:#000;
    --light-blue:#E6F5FC;
    /* --blue:#57ABD0; */
    --blue:#1090cb;
}

.light{
    color: var(--black) !important;
}

.dark{
    color: var(--white) !important;
}

.fs-40{
    font-size: 40px ;
}

.fs-16{
    font-size: 16px !important;
}

.cursor-pointer{
    cursor: pointer;
}

.bg-light-blue{
    background-color: var(--light-blue) !important;
}

.bg-blue{
    background-color: var(--blue) !important;
}

.text-blue{
    color: var(--blue) !important;
}

.text-justify{
    text-align: justify !important;
}

.word-spacing-1{
    word-spacing: 2px !important;
}

.outline-0{
    outline: none !important;
}

.click-action{
    &:active{
        transform: scale(.9);
    }
}